<section class="section">
  <div class="section__content">
    <!-- Contenedor para el formulario -->
    <div class="section__form">
      <app-form></app-form>
    </div>
    <!-- Contenedor para la foto -->
    <div class="section__media">
      <app-foto></app-foto>
    </div>
    <!-- Nuevo div en la esquina superior izquierda -->
    <div class="nuevo-div">
      <div class="nuevo-div__interno">
        <a href="#" class="bandera-link">
          <img src="assets/img/ingles.png" alt="Bandera de Estados Unidos" class="bandera-icon">
          en
        </a>
        <a href="#" class="bandera-link">
          <img src="assets/img/espaniol.png" alt="Bandera de España" class="bandera-icon">
          es
        </a>
      </div>
    </div>
  </div>
</section>    