





<header>
	<div class="banner-superior">
        <p class=texto-superior> <span class= usuario> Juan àlvarez   </span>   Bienvenido a tu aplicaciòn</p>
      </div>
	<div class="sidebar">
		<div class="logo-details">
			<div class=".contenedor-img">
				<img  src="assets/img/favicon.png"  alt="Icono de menú" class= "i arrow">

			</div>
			

			<div class = "contenedor-texto">
				<h2 class="text"><span>Go</span>Checkin </h2>
		    </div>
		</div>
	
	<ul class="nav-links">

		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/panel-control.png"  alt="Icono de menú" class= "i">
				   </div>
				</div>
				
				<h2> <span class="link-name">Panel de control</span></h2>
			
			</a>
			<div class="icon-link">
					<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i arrow">

			</div>
			<ul class="sub-menu blank">
					
				<li>
					<a class="link-name" href="#">Panel de control</a>
				</li>
				
					
			

			</ul>
		
		
		</li>

	   


		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/gestion-espaccios1.png"  alt="Icono de menú" class= "i">
				   </div>
				</div>
				
				<h2> <span class="link-name">Gestión de Espacios</span></h2>
			
			</a>
			<div class="icon-link">
					<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i arrow">

			</div>

			<ul class="sub-menu">
					
				<li>
					<a class="link-name" href="#">Gestión de Espacios</a>
				</li>
				<li>
					<a href="#">Propiedades</a>
				</li>
				<li>
					<a href="#">Habitaciones</a>
				</li>
				<li>
					<a href="#">Promociones</a>
				</li>
				<li>
					<a href="#">Promociones</a>
				</li>
		
			</ul>
		
		
		</li>

	

		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/check-in.png"  alt="Icono de menú" class= "i">
				   </div>
				</div>
				
				<h2> <span class="link-name">Check-In</span></h2>
			
			</a>
			<div class="icon-link">
					<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i arrow">

			</div>
			<ul class="sub-menu blank">
					
				<li>
					<a class="link-name" href="#">Panel de control</a>
				</li>
				
					
			

			</ul>
		
		</li>

	

		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/reservas1.png"  alt="Icono de menú" class= "i">
				   </div>
				</div>
				
				<h2> <span class="link-name">Reservas</span></h2>
			
			</a>
			<div class="icon-link">
					<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i">

			</div>
		
			<ul class="sub-menu blank">
					
				<li>
					<a class="link-name" href="#">Panel de control</a>
				</li>
				
					
			

			</ul>
		</li>

	   <li>

		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/configuracion.png"  alt="Icono de menú" class= "i ">
				   </div>
				</div>
				
				<h2> <span class="link-name">Configuracióm</span></h2>
			
			</a>
			<div class="icon-link">
				<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i arrow">

		</div>
			<ul class="sub-menu blank">
					
				<li>
					<a class="link-name" href="#">configuración</a>
				</li>
				
					
			

			</ul>

			
		
		
		</li>


		<li class="contenedor-elemento">
			<a href="#">

				<div class="icon-details">
					<div class = "elemento-img"> 
					<img src="assets/img/icons/cerrar-sesion.png"  alt="Icono de menú" class= "i">
				   </div>
				</div>
				
				<h2> <span class="link-name">Cerrar Sessión</span></h2>
			
			</a>
			<div class="icon-link">
					<img (click)="toggleSubMenu($event)" src="assets/img/icons/viñeta-arriba.png"  alt="Icono de menú" class= "i arrow">

			</div>
			<ul class="sub-menu blank">
					
				<li>
					<a class="link-name" href="#">configuración</a>
				</li>
				
					
			

			</ul>

			
		
		
		</li>

		<li> 
			<div class="profile-details">
			   <div class="profile-content">
				   <img src="assets/img/chica.png"  alt="profile">
   
			   </div>
			   
   
			   <div class="name-job">
				   <div class="profile-name">
					   javir carriño
				   </div>
				   <div class="job">
					   Dieñador gráfico
				   </div>
   
			   </div>
		
   
		   </div>
		   </li>
   

	  
	</ul>
	</div>
	<section class="home-section">

		<div class="home-content">

			<div class="profile-details">
				<div class="profile-content">
					<img (click)="toggleMenu()" src="assets/img/icons/menu.png"  alt="Icono de menú" class= "i cursor">
	
				</div>
				
	
		
				</div>
			
				
				
		 
	 
		</div>
 </section>
	
</header>
