


<header>

	<div class="sidebar close">
	     <div class="logo-details">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class= "i arrow"fontIcon="home"></mat-icon>
			<span class="logo-name">logo</span>
		 </div>


		 <ul class="nav-links">

			<li>
				<a href="#">
					<mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i arrow " fontIcon="dashboard"></mat-icon>

					     <span class="link-name">Dashword</span>
			    </a>
				<ul class="sub-menu blank">
					
					<li>
						<a class="link-name" href="#">dasword</a>
					</li>
					
				
				
				
	
				</ul>
		   </li>


		   <li class= " menu-li">
				<div class="icon-link"> 
					
					<a href="#">
						
						<mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i" fontIcon="business"></mat-icon>

							<span class="link_name">Category</span>
					</a>
					<mat-icon (click)="toggleSubMenu($event)" aria-hidden="false" aria-label="Icono de panel de control" class="i arrow" fontIcon="expand_more"></mat-icon>

			   </div>
			   <ul class="sub-menu">
					
				<li>
					<a class="link-name" href="#">Category</a>
				</li>
				<li>
					<a href="#">tercero</a>
				</li>
				<li>
					<a href="#">tercero</a>
				</li>
				<li>
					<a href="#">tercero</a>
				</li>

			</ul>


			</li>

			<li class="menu-li">
				<div class="icon-link"> 
					
					<a href="#">
						<mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i " fontIcon="business"></mat-icon>

							<span class="link-name">Post</span>
					</a>
					<mat-icon (click)="toggleSubMenu($event)" aria-hidden="false" aria-label="Icono de panel de control" class="i arrow" fontIcon="expand_more"></mat-icon>
				</div >
				<ul class="sub-menu">
					
					<li>
						<a class="link-name" href="#">Post</a>
					</li>
					
					
					

					<li>
						<a href="#">segundo</a>
					</li>
					<li>
						<a href="#">segundo</a>
					</li>
					<li>
						<a href="#">segundo</a>
					</li>
					
				</ul>
						
			</li>
			<li class= " menu-li">
				<a href="#">
					<mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i" fontIcon="dashboard"></mat-icon>

					     <span class="link-name">analisis</span>
			    </a>
				<ul class="sub-menu blank">
					
					<li>
						<a class="link-name" href="#">analisis</a>
					</li>
					
				
				
				
	
				</ul>
		   </li>

		 </ul>
		 <ul>
				
			
<li> 
	<div class="escondido">
	   <div class="activador-container">
		   <img src="assets/img/ingle.png"  alt="activador">

	   </div>
	   

	   <div class="link-escondidos">
		   <div class="profile-name">
			   <a href="#">link 1 </a>
		   </div>
		   
		   <div class="profile-name">
			<a href="#">link </a>
		</div>

	   </div>
	   <mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i arrow" fontIcon="dashboard"></mat-icon>

   </div>
   </li>	
			
			
<li> 
		 <div class="profile-details">
			<div class="profile-content">
				<img src="assets/img/ingles.png"  alt="profile">

			</div>
			

			<div class="name-job">
				<div class="profile-name">
					javir carriño
				</div>
				<div class="job">
					Dieñador gráfico
				</div>

			</div>
			<mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i arrow" fontIcon="dashboard"></mat-icon>

		</div>
		</li>
			

			
		<li> 
			<div class="profile-details">
			   <div class="profile-content">
				   <img src="assets/img/ingles.png"  alt="profile">
   
			   </div>
			   
   
			   <div class="name-job">
				   <div class="profile-name">
					   javir carriño
				   </div>
				   <div class="job">
					   Dieñador gráfico
				   </div>
   
			   </div>
			   <mat-icon aria-hidden="false" aria-label="Icono de panel de control" class="i" fontIcon="dashboard"></mat-icon>
   
		   </div>
		   </li>
			   



		</ul>
    </div>
	<section class="home-section">

           <div class="home-content">
			 <mat-icon (click)="toggleMenu()" aria-hidden="false" aria-label="Icono de menú" class="e" fontIcon="menu"></mat-icon>
			
        <span class ="text">  Drop Down sidebar</span>
		   </div>
	</section>

</header>
